body {
  width: 100%;
  height: 100%;
  margin: 0;
}

h1 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
} 

nav{
  text-align: center;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: plum;
}

figcaption {
  text-align: center;
  font-size: smaller;
}

p{
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 10px;
}

#featured-property p {
  width: 800px;
  margin: auto;
  text-align: center;
}

#details div{
  float: left;
  text-align: center;
  width: 25%;
  background-color: red;
}
